{% extends "pages/base.html" %}
{% block title %}Авторизация{% endblock %}

{% block content %}

{% if user.is_authenticated %}
    <p class="text-white font-bold">Ваш аккаунт не имеет доступа к этой странице.</p>
{% else %}
<div class="lg:w-1/4 bg-gray-300 ml-auto mr-auto rounded-lg text-left p-2 mt-4">

<form method="post" action="{% url 'login' %}">

{% csrf_token %}

  <table class="mr-auto ml-auto">

    <tr>
      <td>Логин:</td>
      <td>{{ form.username }}</td>
    </tr>

    <tr>
      <td>{{ form.password.label_tag }}</td>
      <td>{{ form.password }}</td>
    </tr>

  </table>

<input class="w-full bg-gray-700 ml-auto mr-auto rounded text-white hover:text-teal-300" type="submit" value="Войти" />

</form>

</div>



{% if form.errors %}
<div class="bg-gray-300 lg:w-1/2 ml-auto mr-auto rounded-lg text-left p-2 mt-4">
  <p>Неправильный логин/пароль</p>
</div>
{% endif %}



{% endif %}

{% endblock %}