{% load static %}
<!DOCTYPE html>
<html lang="en">

 <head>
        <title>{% block title %}Главная{% endblock %}</title>
        <link rel="stylesheet" href="{% static 'css/tailwind.min.css' %}"> 
</head>


<style>
  html, body { background: url(/media/bg1.jpg);
         height: 100%;}
  p, h1{
    text-indent: 1em;
  }
</style>


  <body class="sm:text-sm md:text-sm lg:text-md xl:text-lg">

    <div class="relative min-h-full">

    <nav class="flex items-center justify-between flex-wrap bg-gray-900 p-8">
      <div class="w-full block flex-grow lg:flex lg:items-center lg:w-auto">
        <div class="text-sm lg:flex-grow">
          <a href="/" class="block mt-2 lg:inline-block lg:mt-0 text-white hover:text-teal-300 mr-4">Главная</a>
          <a href="{% url 'about_program' %}" class="block mt-2 lg:inline-block lg:mt-0 text-white hover:text-teal-300 mr-4">О программе</a>
          <a href="{% url 'theory' %}" class="block mt-2 lg:inline-block lg:mt-0 text-white hover:text-teal-300 mr-4">Теория</a>
            {% if user.is_authenticated %}
          <a href="{% url 'calculation_new' %}" class="block mt-2 lg:inline-block lg:mt-0 text-white hover:text-teal-300 mr-4">Расчёты</a>
          <a href="{% url 'logout'%}" class="block mt-4 lg:inline-block lg:mt-0 text-white hover:text-teal-300 mr-4">
            Выход
          </a>
          <a href="{% url 'user_profile' user.id %}" class="block mt-4 lg:inline-block lg:mt-0 text-white hover:text-teal-300 mr-4 lg:float-right">
            <div class="flex">{% if user.get_full_name %}{{ user.get_full_name }}{% else %}{{ user.username }}{% endif %}</div>
          </a>
            {% else %}
            <a href="{% url 'login'%}" class="block mt-4 lg:inline-block lg:mt-0 text-white hover:text-teal-300 mr-4">
            Вход
          </a>
            <a href="{% url 'django_registration_register'%}" class="block mt-4 lg:inline-block lg:mt-0 text-white hover:text-teal-300 mr-4">
            Регистрация
          </a>
            {% endif %}
        </div>
      </div>
    </nav>

    {% if user.is_staff %}
    <nav class="flex items-center justify-between flex-wrap bg-gray-800 pl-8 pb-1">
      <div class="w-full block flex-grow lg:flex lg:items-center lg:w-auto">
        <div class="text-sm lg:flex-grow">
          <a href="/admin/" class="block mt-2 lg:inline-block lg:mt-0 text-gray-300 hover:text-teal-200 mr-4">Администрирование сайта</a>
          <a href="{% url 'history_show' %}" class="block mt-2 lg:inline-block lg:mt-0 text-gray-300 hover:text-teal-200 mr-4">История расчётов</a>
        </div>
      </div>
    </nav>
    {% endif %}
    {#content#}
    <div class="w-full pb-16">
            <div>
            {% block content %}
            {% endblock %}
            </div>
    </div>


    <div class="absolute left-0 bottom-0 mt-8 w-full h-8 bg-gray-900">
        <div class="footer-col text-gray-700 mr-auto ml-auto w-1/4"><span>Шагиахмедов Алмаз, 2020</span></div>
    </div>

    </div>

  </body>
</html>