{% extends 'pages/base.html' %}
{% block title %}Теория{% endblock %}
{% block content %}

<div class="lg:flex mt-2">

    <div class="bg-gray-400 lg:w-1/4 m-4 rounded text-left p-2 pl-4">

        <h1 class="text-gray-900 text-xl mb-4 font-bold sm:text-sm md:text-base lg:text-lg xl:text-xl">Теория</h1>
        <hr>
        <img src="/media/banner.jpg" class="ml-auto mr-auto sm:w-1/2 md:w-full">

        <span>Содержание:</span>
        <ul class="list-decimal ml-4 mt-4 class italic font-semibold">
            <li class="pb-2 hover:underline hover:text-teal-900"><a href="#anchor1">Определение газовых скважин</a> </li>
            <li class="pb-2 hover:underline hover:text-teal-900"><a href="#anchor2">Применение газовых скважин</a>  </li>
            <li class="pb-2 hover:underline hover:text-teal-900"><a href="#anchor3">Условия эксплуатации</a>        </li>
            <li class="pb-2 hover:underline hover:text-teal-900"><a href="#anchor4">Оборудование скважин</a>        </li>
        </ul>

    </div>


    <div class="bg-gray-300 lg:w-3/4 m-4 rounded text-left pr-8 pl-8">

        <hr class="mt-8 mb-2"8>

        <p class="text-justify break-normal font-medium">
            <span class="italic font-bold"><a name="anchor1">Газовая скважина</a></span> - служит для вскрытия газового пласта и извлечения из него газа,
            а также для закачки газа в подземное хранилище и последующего его отбора. Газовые скважины подразделяются на эксплуатационные,
            нагнетательные, наблюдательные, пьезометрические. 
            Газовые и газоконденсатные месторождения залегают в осадочном чехле и фундаменте земной коры на различных глубинах: 
            от 250 до 10 000 м и более. Для извлечения пластового флюида на поверхность бурятся газовые и газоконденсатные скважины.
        </p>

        <p class="text-justify break-normal font-medium"> 
            <a name="anchor2"></a>Газовые скважины используются для:</a>
        </p>

            <ul class="ml-8 list-disc italic">
                <li>Движения газа из пласта в поверхностные установки промысла;                        </li> 
                <li>Защиты вскрытых горных пород разреза от обвалов;                                   </li>
                <li>Разобщения газоносных, нефтеносных и водоносных пластов;                           </li>
                <li>Предотвращения подземных потерь газа;                                              </li>
                <li>Получения информации о пласте и забое.                                             </li>
            </ul>

        <p class="text-justify break-normal font-medium">
            <a name="anchor3">Газовые скважины</a> эксплуатируются в течение длительного времени в сложных, резко изменяющихся условиях. 
            Действительно, давление газа в скважинах доходит до 100 МПа, температура газа достигает 523 К. 
            В процессе освоения, исследований, капитального ремонта и во время эксплуатации скважин резко изменяются давление,
             температура, состав газа, движующегося в скважине.
            Долговечность работы и стоимость строительства скважин во многом определяются их конструкциями. 
            Скважины должны проектироваться с учетом основных положений строительных норм и правил (СНиП IV-2-82).
            Оборудование газовой скважины, необходимое для ее эксплуатации, испытания и исследований, состоит из наземного и подземного.
            К наземному оборудованию газовых скважин относится арматура и аппаратура, устанавливаемые на устье скважины.
            Подземное оборудование включает оборудование забоя и ствола скважины. Оборудование забоя,
            через который осуществляется сообщение пласта со скважиной, предусматривает обеспечение рабочего 
            дебита при длительной эксплуатации скважин без осложнений и аварий в течение всего срока разработки месторождения.
        </p>

        <p class="text-justify break-normal font-medium"> 
            <a name="anchor4">В состав оборудования ствола газовой скважины входят:</a>
        </p>

            <ul class="ml-8 list-disc italic">    
                <li>Ряд обсадных колонн (включая кондуктор, промежуточную, эксплуатационную колонны);   </li>
                <li>Фонтанные трубы, спускаемые для подачи газа от забоя до устья;                      </li>
                <li>Забойные и приустьевые штуцеры                                                      </li>
                <li>Клапаны для подачи ингибиторов для борьбы с коррозией и гидратообразованием;        </li>
                <li>Клапаны-отсекатели для предупреждения открытого фонтанирования в аварийных ситуациях</li>
            </ul>

        <p class="text-justify break-normal font-medium">
            Для обеспечения герметичности соединений труб в процессе эксплуатации газовых скважин применяют специальные уплотнительные смазки.
            Диаметр обсадных колонн газовых скважин (от 114 до 340 мм) выбирается с учётом обеспечения безаварийной работы и свободного 
            спуска фонтанных труб (внутренний диаметр от 33 до 168 мм), клапанов, пакеров,
            а также производства ремонтных и исследовательских работ.
        </p>

    </div>

</div>

{% endblock %}